body {
/*	background-color: blue;*/
}

#addGame {
	color: blue;
	margin-top: 5px;

}

.form-control {
	margin-top: 5px;
	margin-bottom: 5px;
}

#teamStats { width: 125px;
	margin: 7px;
}

input {
	font-weight:bold;
}