
<h2>Welcome to the TBHTOAT Blog</h2>
<ul class="post-publish">
  <div>
    {{input value=title placeholder="Title"}}
</div>
   <div>
    {{input value=author placeholder="Author"}}
 </div>
  <div>
    {{textarea value=body placeholder="Body"}}
  </div>
 
    <button {{action "publishPost"}}>Publish</button>

</ul>


